body {
  font-size: 120%;
  font-family: 'Questrial', sans-serif;
  background-color: #e3e4fc;
  margin-bottom: 60px;
}

#t-amount, #t-name  {
  font-size: 20px;
}

/* #t-name {

} */

#add-btn  {
  font-size: 100%;
  color: white;
  padding: 15px;
  background-color: rgb(24, 104, 1);
  font-family: 'Questrial', sans-serif;
}

#sub-btn  {
  font-size: 100%;
  color: #ffffff;
  padding: 15px;
  background-color: rgb(111, 8, 8);
  font-family: 'Questrial', sans-serif;
}

input {
  font-size: 100%;
  padding: 15px;
  font-family: 'Questrial', sans-serif;
}

table {
  width: 100%;
}

th {
  border: 1px solid #747474;
  font-size: 25px;
  text-align: center;
  padding: 9px;
}

td {
  border: 1px solid #747474;
  font-size: 20px;
  text-align: left;
  padding: 9px;
}

tr:nth-child(even) {
  background-color: #e1dfdf;
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

.total {
  font-size: 150%;
  margin-top: 50px;
  color: #4f55cb
}

.form {
  margin-top: 35px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
}
