body {
  font-size: 120%;
  font-family: 'Questrial', sans-serif;
  background-color: rgb(228, 228, 228);
}

#add-btn  {
  font-size: 100%;
  color: white;
  padding: 15px;
  background-color: rgb(24, 104, 1);
  font-family: 'Questrial', sans-serif;
}

#sub-btn  {
  font-size: 100%;
  color: #ffffff;
  padding: 15px;
  background-color: rgb(111, 8, 8);
  font-family: 'Questrial', sans-serif;
}

input {
  font-size: 100%;
  padding: 15px;
  font-family: 'Questrial', sans-serif;
}

table {
  width: 100%;
}

td, th {
  border: 2px solid #747474;
  text-align: left;
  padding: 15px;
}

tr:nth-child(even) {
  background-color: #747474;
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 825px;
  text-align: center;
}

.total {
  font-size: 150%;
  margin-top: 40px;
  color: #194bb8
  /* text-decoration: underline; */
}

.form {
  margin-top: 35px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
}
